 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    text-decoration: none; 
}

.max-width{
    max-width: 1300px;
    padding:0 80px;
    margin: auto;
}
.navbar {
    z-index: 3;
    position: fixed;
    padding: 30px 0;
    width: 100%;
    font-family: 'Ubuntu',sans-serif;
    transition: all 0.3s ease;
}

.sticky{
    padding: 15px 0;
    background: crimson;
}
.navbar .max-width{
    display: flex;
    align-items:center;
    justify-content: space-between;
}
.navbar .logo a{
    color: #fff;
    font-size: 35px;
    font-weight: 600;
}
.navbar .logo a span{
    color: crimson;
    transition:all 0.3s ease;
}
.navbar.sticky .logo a span{
    color: #fff;
}
.navbar .menu li {
    list-style: none;
    display:inline-block;

}
.navbar .menu li a {
   color: #fff;
   font-size: 18px;
   font-weight: 500;
   margin-left: 25px;
   transition: color 0.3s ease;

}
.navbar .menu li a:hover{
    color: crimson;
}
.navbar.sticky .menu li a:hover{
    color: #fff;
}

/*menu-btn-styling*/
.menu-btn {
    color:#fff;
    font-size: 23px;
    cursor: pointer;
    display: none;
    align-content: right;
}



.home{
    display: flex;
    background: url("black-paper-background.webp") no-repeat center;
    height: 100vh;
    color:#fff;
    min-height: 100px;
    font-family: 'Ubuntu',sans-serif;
}
.home .max-width{
    margin: auto 0 auto 40px;

}
.home .home-content .text-1{
    font-size: 27px;
}
.home .home-content .text-2{
    font-size: 75px;
    font-weight: 600;
    margin-left: -3px;
}
.home .home-content .text-3{
    font-size: 40px;
    margin: 5px 0;
}
.home .home-content .text-3 span{
    color: crimson;
    font-weight: 500; 
}
.home .home-content a{
    display:inline-block;
    background: crimson;
    color: #fff;
    font-size: 25px;
    padding: 12px 36px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid crimson;
    transition: all 0.3s ease ;
}
.home .home-content a:hover{
    color:#fff;
    background: none;
}

/*all section*/

section{
    padding: 100px 0;
}
.about ,.services ,.team ,.contact{
    font-family: 'Poppins', sans-serif;
}

section .title{
    position:relative;
    text-align:center;
    font-size:40px;
    font-weight:500;
    margin-bottom:60px;
    padding-bottom:20px;
    font-family: 'Ubuntu',sans-serif;
}
section .title::before{
    content: " ";
    position:absolute;
    bottom:0px;
    left:50%;
    width:350px ;
    height: 3px;
    background:#111;
    transform:translateX(-50%);
}
section .title::after{
    
    position: absolute;
    bottom:-12px;
    left:50%;
    padding:1px;
    COLOR: crimson;
    background:#fff;
    transform: translateX(-50%);
}


/*about section*/

.about ,.services, .temp ,.team ,.contact,.footer{
    font-family: 'Poppins', sans-serif;
}
.about .title::after{
    content:"who we are";
    font-size: 25px;
}
.about .about-content ,
.service .serv-content,
.contact .contact-content
{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.about .about-content .left{
     width: 45%;
}
.about .about-content .left img{
    height: 400px;
    width: 400px;
    object-fit:cover;
    border-radius: 6px;

}
.about .about-content .right{
    width: 55%;
}
.about .about-content .right .text{
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
}
.about .about-content .right .text .span{
    color: crimson;
}    
.about .about-content .right p{
    text-align: justify;

}
.about .about-content .right a{
    display:inline-block;
    background: crimson;
    color: #fff;
    font-size: 20px;
    font-weight:500;
    padding: 1px 30px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid crimson;
    transition: all 0.3s ease ;
}
.about .about-content .right a:hover{
      color:crimson;
      background: none;

}

/*service section */
.services,.contact ,.form{
       color:#fff;
       background: #111;
}
.services .title::before,
.contact .title::before,
.form .title::before{
    background: #fff;

}
.services .title::after{
    background: #111;
    content: "what we provide";
    font-size: 25px;
}
.services .serv-content .card{
    width: calc(33% - 20px);
    background: #222;
    text-align: center;
    border-radius: 18px;
    padding: 20px 25px;
    cursor: pointer;
    display:flex;
    transition: all 0.3s ease;
}
.serv-content{
    display: flex;
    column-gap: 55px;
}
.services .serv-content .card:hover{
    background: rgb(232, 89, 118);
}
.services .serv-content .card .box{
    
    transition: all 0.3s ease;
}
.services .serv-content .card:hover .box{
     transform: scale(1.0)
}
.services .serv-content .card i{
    font-size: 50px;
    color: crimson;
    transition: color 0.3s ease;
}
.services .serv-content .card:hover i{
     color: #fff;
}
.services .serv-content .card .text{
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0 7px 0;
}

/*template section*/
.temp .title::after{
    content:"Different Templates";
    font-size: 25px;
}
.temp .carousel .card{
    background:rgb(97, 95, 95);
    border: 6px;
    padding: 25px 35px;
    text-align: center;
    transition: all 0.3s ease;
}
.temp .carousel .card:hover{
    background: crimson;
}
.temp .carousel .card .box{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   transition: all 0.3s ease;
   border-radius:20%;
}
.temp .carousel .card :hover .box{
    transform: scale(1.05);
}
.temp .carousel .card .text{
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0 7px 0;

}
.temp .carousel .card img{
   height:150px;
   width: 150px;
   border: 5px solid crimson;
   transition: all 0.3s ease;
}
.temp .carousel .card:hover img{
    border-color: #fff
}
.owl-dots{
    text-align: center;
    margin-top: 20px;
}
.owl-dot{
    height: 13px;
    width: 13px;
    margin: 0 5px;
    outline: none !important;
    border-radius: 50%;
    border: 2px solid crimson !important;
    transition: all 0.3s ease;
}
.owl-dot.active{
    width: 35px;
    border-radius:14px; 
}
.owl-dot.active,
.owl-dot:hover{
    background: crimson !important;
}

/*form section*/
h4{
    text-align:center;
}
.container {
    max-width:1400px;
    width:100%;
    background: #111;
    padding: 25px 30px;
}
.form .title::after{
    background: #111;
    content: "get your portfolio";
    font-size: 25px;
    
}
 .container form .ur-details {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 12px 0;
}

form .ur-details .input-box{
    margin-bottom:15px;
    width: calc(100%/2 - 20px);
}
form .ur-details .input-box .details{
    display: block;
    font-weight:500;
    margin-bottom:5px;
}
.ur-details .input-box input{
    height: 45px;
    width: 100%;
    outline: none;
    border-radius:9px;
    border: 1px solid #ccc;
    padding-left: 15px;
    font-size: 16px;
    border-bottom-width: 2px;
    transition: all 0.3s ease;

}
form .button {
        height:45px;
        margin:45px 0;
    }

    
form .ur-details .button button{
    height: 100%;
    width:100%;
    background: crimson;
    display:inline-block;
    color:#fff;
    font-size:18px;
    font-weight:500;
    letter-spacing:1px;
    border: 2px solid crimson;
    padding: 12px 36px;
    border-radius: 6px;
    margin-top: 20px;
    transition: all 0.3s ease;
}
form .ur-details .button button:hover{
    color:#fff;
    background: none;
}

/*team section*/
.team .title::after{
    content:"the working hands";
    font-size: 20px; 
}

.team .member .card{
    background:rgb(97, 95, 95);
    border: 6px;
    padding: 25px 35px;
    text-align: center;
    transition: all 0.3s ease;
    display:flex;
}
.team .member{
    display:flex;
    column-gap: 55px;
}
.team .member .card:hover{
    background: crimson;
}
.team .member .card .box{
    
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   transition: all 0.3s ease;
   border-radius:20%;
}
.team .member .card :hover .box{
    transform: scale(1.05);
}
.team .member .card .text{
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0 7px 0;

}
.team .member .card img{
   height: 150px;
   width: 150px;
   border-radius: 50%;
   border: 5px solid crimson;
   transition: all 0.3s ease;
}
.team .member .card:hover img{
    border-color: #fff
}


/* contact section*/
.contact .title::after{
       background:#111;
       content:"get in touch";
       font-size:20px;
}

.contact .contact-content .column{
        width: calc(50%- 30px);
}
.contact .contact-content .text{
     font-size: 20px;
     font-weight: 600;
     margin-bottom: 10px;

}
.left{
    width:45%;
}
.contact .contact-content .left p{
      text-align: justify;
      
}
.contact .contact-content .left .icons{
    margin: 10px 0;
}
.contact .contact-content .row{
    display: flex;
    height: 65px;
    align-items: center;

}
.contact .contact-content .row .info{
    margin-left: 30px ;

}
.contact .contact-content  .row i{
    font-size: 25px;
    color: crimson; 
}
.contact .contact-content .info .head{
     font-weight: 500;

}
.contact .contact-content .info .sub-title{
    color: rgb(185, 138, 147);
}
.row .head .sub-title{
    display:flex;
    flex-wrap: wrap;
}
.contact .right{
    
    width: 55%;
}
.contact .right form .fields{
    display: flex;

}
.contact .right form .field,
.contact .column-right form .fields .field{
       height: 45px;
       width: 100%;
       margin-bottom: 15px;
}
.contact .right form .textarea textarea{
    padding-top: 10px;
}
.contact .right form .textarea{
    height: 80px;
}
.contact .right form .name{
    margin-right: 10px;
}
.contact .right form .email{
    margin-left: 10px;
}
.contact .right form .textarea textarea,
.contact .right form .field input{
    height: 100%;
    width: 100%;
    border: 1px solid  lightgrey;
    border-radius: 6px;
    outline: none;
    padding: 0 15px;
    font-size: 17px;
    font-family: 'Poppins',sans-serif;
}
.contact .right form .textarea textarea{
    padding-top: 10px;
    resize: none;
}
.contact .right form.button{
    height: 47px;
    width: 170px;
}
.contact .right form.button button{
    width: 100%;
    height: 100%;
    border: 2px solid crimson;
    background: crimson;
    color: #fff;
    font-size: 20px;
    font-weight:500;
    border-radius: 6px;
}
.contact .right form.button button:hover{
    color:crimson;
    background:none;
}

/*footer section*/
footer{
    background: #111;
    padding: 20px 23px;
    color:#fff;
}
footer span a{
    color: crimson;
    text-decoration: none;
}
footer span a:hover{
    text-decoration: underline;
}

@media(max-width: 1300px){
    .home .max-width{
        margin-left: 0px;
    }
}
@media(max-width: 1104px){
    .about .about-content .left img{
        height: 350px;
        width: 350px;
    }
}
@media(max-width: 991px){
    .max-width{
        padding:0 50px;   
    }
}
@media(max-width: 947px){
   
    .menu-btn{
        display: block;
        z-index: 9;
    }
   .menu-btn i.active:before{
       content:"\f00d";
   }
    .menu{
        position: fixed;
        height:100vh;
        width: 100%;
        left: -100%;
        top: 0;
        background: #111;
        text-align: center;
        padding-top: 80px; 
        transition: all 0.3s ease;
    }

    .menu:active {
        display: block !important;
        left: 20vw !important;
    }
    .navbar .menu .active {
         left: 0
    }
        
    .menu li{
        display: block;
    }
    .navbar .menu li a{
        display: inline-block;
        margin: 20 px 0;
        font-size: 25px;
    }
    .home .home-content .text-2{
        font-size: 70px;
    }
    .home .home-content .text-3{
        font-size: 35px;
    }
    .home .home-content a{
        font-size: 23px;
        padding:10px 30px;
    }
    .max-width{
        max-width: 800px;
    
    }
    .about .about-content .column{
        width: 100%;
    }
    
    .about .about-content .left{
        display: flex;
        justify-content: center;
        margin:0 auto 60px;
    }
    .about .about-content .right{
        flex: 100%;
    }
    .services .serv-content .card{
        width: calc(50% - 10px);
        margin-bottom: 20px;
    }

}
@media(max-width: 690px){
    .max-width{
        padding:0 23px;   
    }
    .home .home-content .text-2{
        font-size: 60px;
    }
    .home .home-content .text-3{
        font-size: 32px;
    }
    .home .home-content a{
        font-size: 20px;
       
    }
    .services .serv-content .card{
        width: 100%;
        
    }
    .contact .contact-content .column{
        width: 100%;
        margin-bottom: 35px;
    }
}
@media(max-width: 500px){
    
    .home .home-content .text-2{
        font-size: 50px;
    }
    .home .home-content .text-3{
        font-size: 27px;
    }
}

